.container-pokedex {
  background-color: var(--primary-background-color);
  margin: 24px;
  padding-top: 180px;

  main {
    min-height: 75vh;

    .container-pokemons {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 20px;
    }
  }
}

@media only screen and (min-width: 660px) {
  .container-pokedex {
    display: block;
    padding-top: 150px;
  }
}