.container-pokedex {
  background-color: var(--primary-background-color);
  display: flex;
  flex-direction: column;
  margin: 24px;

  main {
    flex-basis: 75vh;

    .container-pokemons {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 20px;
    }
  }
}

