.container-card {

  
  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 200px;
    cursor: pointer;
    will-change: transition;
    transition: 0.3s;
    border-radius: 8%;
    white-space: nowrap;
    overflow: hidden;
    padding: 8px;
    color: black;
    background-color: var(--background-card);
  
    &:hover {
      transition: 0.3s;
      transform: scale(1.07);
      box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
        rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    }

    img {
      max-height: 96px;
      max-width: 96px;
    }

    h1 {
      font-size: 22px;
      letter-spacing: 0.6px;
    }

    .container-types {
      display: flex;
      justify-content: center;
      gap: 8px;
      text-align: center;
      
      .type {
        min-width: 60px;
        padding: 6px;
        border-radius: 16px;
        color: var(--background-card);
        letter-spacing: 0.5px;
      }
    }
  }
}