<header>
  <div class="container-title">
    <h1>Pokédex</h1>
    <span routerLink='/about/otaviusedano'>About</span>
  </div>
  <div class="container-search">
    <input
      (input)="handlerChange(input.value)"
      (keyup.enter)="handlerSearch()"
      #input
      placeholder="Pesquise seu pokémon"
      type="text"
    />
    <button
      [disabled]="!input.value.length"
      (click)="handlerSearch()"
      type="button"
    >
      <fa-icon icon="magnifying-glass"></fa-icon>
    </button>
  </div> 
</header>