:root {
  --background-card: #fff;
  --background-page: #f1f1f1;
  --background-search-button: #edd86f9c;
  --background-pagination-buttons: #faebd7;
  --pagination-buttons-hover: #eed6b5;
  --background-container-evolutions: antiquewhite;
  --border-pagination-buttons: #00000040;
}

* {
  border: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: 'Inter', sans-serif;
}
