<div class='container-details'>
  <main>
    <ng-template #loading>
      <app-not-found *ngIf="error$ | async; else loadingNoError "></app-not-found>
      <ng-template #loadingNoError>
        <h1>Carregando...</h1>
      </ng-template>
    </ng-template>
    <section *ngIf="pokemon$ | async ; else loading">
      <div class="details-header">
        <fa-icon icon="arrow-left" routerLink='/'></fa-icon>
        <span>{{pokemon.name | titlecase}}</span>
        <span *ngIf="pokemon.id >= 100">#{{pokemon.id}}</span>
        <span *ngIf="pokemon.id >= 10 && pokemon.id <= 99">#0{{pokemon.id}}</span>
        <span *ngIf="pokemon.id < 10">#00{{pokemon.id}}</span>
      </div>
      <div class="details-pokemon-img">
        <img src={{pokemon.sprites.front_default}} alt={{pokemon.name}}>
      </div>
      <div class="details-types">
        <div
          class="type"
          [ngStyle]='{backgroundColor: format.colors(type)}'
          *ngFor="let type of format.types(pokemon)"
        >
          {{type | titlecase}}
        </div>
      </div>
      <div class="details-stats">
        <div class="stat" *ngFor="let stat of stats">
          <fa-icon
            [ngStyle]="{color: format.iconColors(stat.fasIcon)}"
            [icon]="['fas', stat.fasIcon]"
          >
          </fa-icon>
          <span>{{stat.statName | titlecase}}</span>
          <span>{{stat.statBase}}</span>
        </div>
      </div>
      <div *ngIf="evolutions.length > 1" class="details-evolutions">
        <h1>Evoluções</h1>
        <div class="evolutions">
          <app-card
            *ngFor="let evolution of evolutions"
            [pokemonName]="evolution.name"
          >
          </app-card>
        </div>
      </div>
    </section>
  </main>
</div>