.container-details {
  min-height: 100vh;
  background-color: var(--secondary-background-color);
  padding: 24px;

  .details {
    padding: 20px;
    margin: 20px;
    border-radius: 16px;

    &-header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      & > :nth-child(1) {
        color: var(--primary-text-color);
        font-weight: 500;
        cursor: pointer;
      }

      & > :nth-child(2) {
        color: var(--primary-text-color);
        font-weight: 600;
        font-size: 16px;
        line-height: 16px;
      }

      & > :last-child {
        color: var(--secondary-text-color);
        font-size: 14px;
      }
    }

    &-pokemon-img {
      text-align: center;
      margin-top: 10px;

      img {
        object-fit: contain;
        image-rendering: pixelated;
        height: 26vh;
      }
    }

    &-types {
      display: flex;
      justify-content: center;
      gap: 20px;
      text-align: center;
      font-weight: 600;

      .type {
        min-width: 74.9px;
        min-height: 32px;
        padding: 9px 19px;
        font-size: 15px;
        border-radius: 10px;
        color: var(--accent-text-color);
        line-height: 100%;
      }
    }

    &-stats {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      text-align: center;
      gap: 8px 15px;
      margin: 24px auto;

      .stat {
        font-weight: 600;
        display: flex;
        gap: 5px;
        padding: 9.5px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: var(--primary-background-color);
        width: 98px;
        border-radius: 9.5px;

        & > span:nth-child(2) {
          color:  var(--secondary-text-color);
          font-size: 12px;
        }

        & > span:last-child {
          color:  var(--primary-text-color);
          line-height: 16px;
          font-size: 18px;
        }
      }
    }

    &-more-pokemons {
      display: flex;
      flex-direction: column;
      gap: 8px;
    }

    &-evolutions {

      h1 {
        font-size: 18px;
        line-height: 100%;
        font-weight: 600;
        color: var(--primary-text-color);
      }

      .evolutions {
        display: flex;
        align-items: center;
        overflow-x: scroll;
        gap: 16px;
        margin: 16px auto;

        app-card:last-child {
          margin-right: 12px;
        }
      }
    }
  }
}


@media only screen and (min-width: 660px) {

  .container-details {
    padding: 56px;

    main {
      height: 100%;

      .details-more-pokemons {
        display: flex;
        flex-direction: row;
      }
    }
  }
}